.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #fff;
  text-shadow: none; /* Prevent inheritance from `body` */
  border: none;
  width: 40%;
  border-radius: 24px;
  background: darkorange;
}
